---
import Patita from '/public/patita.svg';
import GitHub from '../components/icons/GitHub.astro';
import { Toggle } from 'astro-theme-toggle';

const navLinks =[
    {
        id: "work",
        href: "/work",
        name: "Work"
    },
    {
        id: "posts",
        href: "/posts",
        name: "Posts"
    },
    {
        id: "wallpapers",
        href: "https://store.craftz.dog",
        name: "Wallpapers",
        rel: "noopener noreferrer",
        target: "_blank"
    },
    {
        id: "uses",
        href: "/uses",
        name: "Uses"
    },
    {
        id: "source",
        href: "https://github.com/302found3v-dotcom/302found-homepage",
        name: "Source",
        rel: "noopener noreferrer",
        target: "_blank",
        icon: true
    }
]
---

<header>
    <nav>
        <a class="marker" href="/" aria-label="Home">
            <Patita class="icon" />
            <span>Juan Alberto</span>
        </a>

        <div class="links">
            <ul class="list">
                {navLinks.map((link) => (
                    <li id={link.id}>
                        <a 
                            rel={link.rel} 
                            target={link.target} 
                            class="nav-link" 
                            href={link.href}
                            aria-current={link.href === Astro.url.pathname ? 'page' : undefined}
                            >
                                {link.icon && <GitHub />}
                                {link.name}
                            </a>
                    </li>
                ))}
            </ul>
        </div>

        <Toggle style="width: 25px; height: 25px;" />
    </nav>
</header>

<style>
    header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        padding: 0.5rem;
        font-size: 1.05rem;
        margin: 0 auto;
        background-color: var(--header-bg-color);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 1;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        width: min(768px, 100% - 2rem);
        margin: auto;
    }

    .marker {
        list-style: none;
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: .2rem;
    }

    .list {
        display: flex;
        gap: 1.2rem;
        list-style: none;
        margin: 0;
        padding: .3rem;
    }

    .list li a {
        text-decoration: none;
        color: inherit;
        padding: 5px;
        display: flex;
        align-items: center;
        gap: .2rem;
    }

    .list li a:hover {
      text-decoration: underline;
    }

    .icon {
        transition: transform 0.3s ease-in-out;
    }

    .marker:hover .icon {
        transform: rotate(20deg);
    }

    .source {
        display: flex;
        align-items: center;
        gap: .2rem;
    }

    .source svg {
        height: 1rem;
        width: 1rem;
        fill: var(--header-svg-fill);
    }

    .nav-link.active {
        background-color: var(--header-active-color);
    }
</style>

<script>
    const navLinks = document.querySelectorAll(".nav-link");
    const currentPath = window.location.pathname;

    navLinks.forEach(link => {
        if (link.getAttribute("href") === currentPath) {
            link.classList.add("active");
        } else {
            link.classList.remove("active");
        }
    });
</script>
